@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --a:0;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #191414;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.library {
    min-height: 80vh;
    position: relative;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 23px 14px;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.footer {
    display: flex;
    font-size: 10px;
    color: #585858;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: #585858;
}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;
}

.buttons #signup {
    padding: 10px;
    border-radius: 10rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: #585858;
    filter: invert(1);
    transition: box-shadow 0.3s, color 0.3s, filter 0.3s;
}

.buttons #signup:hover {
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    filter: none;
}

.buttons #Login {
    padding: 10px;
    border-radius: 10rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: box-shadow 0.3s, color 0.3s, filter 0.3s;
}

.buttons #Login:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    filter: invert(1);
}

.nav svg {
    margin-top: 5px;
    padding: 3px;
    background-color: #121212;
    border-radius: 10rem;
}

.spotifyPlaylist {
    padding: 16px;
}

.spotifyPlaylist h1 {
    padding: 16px;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1b1b1b;
    position: relative;
    transition: all .9s;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh;
}

.card:hover {
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a : 1;
}

.play {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 88px;
    right: 17px;
    opacity: var(--a);
    transition: all .9s ease-out;
}

.playbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    background-color: #585858;
    padding: 12px;
    width: 90%;
    min-height: 40px;
    width: 70vw;
    border-radius: 10px;
    opacity: 98%;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songbuttons img {
    cursor: pointer;
}

.songList {
    height: 450px;
    overflow: auto;
    margin-bottom: 44px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.songList ul {
    padding: 0 12px;
}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.info div{
    word-break: break-all;
}

.songList ul li {
    font-size: 15px;
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 4px;
    width: 98%;
    background:  white;
    border-radius: 10px;
    position: absolute;
    bottom: 8px;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: rgb(0, 0, 0);
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.range input{
    cursor: pointer;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.songInfo {
    color: #121212;
    padding: 0 12px;
    width: 250px;
}

.songTime {
    color: #121212;
    padding: 0 12px;
    width: 125px;
}

.aboveBar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}

.close {
    display: none;
}

@media (max-width: 1200px) {
    .left{
        position: absolute;
        left: -130%;
        transition: all 0.4s;
        z-index: 1;
        width: 373px;
        background-color: #121212;
        padding: 0;
    }
    
    .songInfo, .songTime{
        width: auto;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .right{
        width: 100vw;
        margin: 0;
    }

    .playbar{
        width: calc(100vw - 75px);
        opacity: 98%;
    }

    .seekbar {
        width: calc(100vw - 85px);
    }

    .hamburger {
        display: block;
    }

    .card {
        width: 55vw;
    }

    .cardContainer {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .close {
        display: block;
    }

    .aboveBar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }
}

@media (max-width: 500px) {
    .card {
        width: auto;
    }
}